html{
    background-color: rgba(142, 150, 151, 0.075);
}

body{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 18px;
    font-weight: 900px;
}
h1{
    font-family: Tahoma, sans-serif;
    font-size: 37px;
    color: #000000;
    text-align: 46px;


}
h2{
    font-family: Tahoma, sans-serif;
    font-size: 25px;
    text-align: 38px;
}
h3{
    font-size: 18px;
    color: #666;
}
p{
    font-size: 18px;
    color: #333;
    text-align: 27px;
}
.fuente{
    font-size: 18px;
}